@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome To My Superhero Page</h1>
        <h2>@Html.ActionLink("Click to See the Superheroes", "Superheroes")</h2>
    </div>
