@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome To My Superhero Page</h1>
        <h2><a asp-controller = "Superheroes" asp-action="Index">Click Here to View the Superheroes</a></h2>
    </div>
